@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: auto;
  margin: 0;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  color: #d9d9d9;
  background-color: #262626;
}
.header {
  width: auto;
  height: 15vh;
  background-color: #0d0d0d;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100vw;
  height: 65vh;
  display: flex;
}
.contentLeft {
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.contentMid {
  width: 40vw;
  background-color: #595959;
  border-radius: 25px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.alert {
  text-align: center;
}
.contentRight {
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.img {
  width: 5vw;
  height: auto;
}
.enemy-container,
.image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  transition: width 0.5s ease, height 0.5s ease;
}
.enemy-container:hover,
.image-container:hover {
  width: 200px;
  height: 200px;
}
.enemy-container img,
.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.image-container:hover img {
  filter: drop-shadow(0 0 5px yellow);
}
.enemy-container:hover img {
  filter: drop-shadow(0 0 5px red);
}

.clTop,
.crTop {
  height: 30vh;
  margin-top: 5px;
  display: flex;
  align-self: center;
}
.clBot,
.crBot {
  height: 35vh;
  display: flex;
  align-self: center;
  margin-bottom: 150px;
}

.footer {
  width: 100vw;
  height: 20vh;
  background-color: #0d0d0d;
  display: flex;
}
.footerHeading {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.attributionList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
a {
  text-decoration: none;
  color: #a6a6a6;
}
a:visited {
  color: #a6a6a6;
}
li {
  list-style-type: none;
}

.inverted-image {
  transform: scaleX(-1);
}
button {
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 30px;
}

.playing {
    transform: scale(1.10);
  filter: drop-shadow(0 0 5px red);
}
